@page
@model AppTurismo.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h1>Detalhes do Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.Id">Editar</a> |
    <a asp-page="./Index">Voltar à lista</a>
</div>
